<!--// Gonzalo Martinez Haro-->
<div class="form-container">
    <div>
        <div class="card flex justify-content-center">
       
                <h3>¿Seguro que deseas borrarlo?</h3>
                <div class="buttons-container">
                    <p-button label="SI" (click)="delete()" class="p-button-success"></p-button>
                    <p-button label="NO" (click)="cerrarModal()" class="p-button-secondary"></p-button>
                </div>
            
        </div>
    </div>
  </div>
  
