<h1>Gestión de No Socios</h1>

@if(alert.show){
    <app-alert header="{{alert.header}}" message="{{alert.message}}" type="{{alert.type}}" ></app-alert>
}
<section>
    <div>
        <table>
            <thead>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellidos</th>
            </thead>
            <tbody>
                @for (noSocio of noSocios; track noSocio.id) {
                <tr>
                    <td>{{noSocio.id}}</td>
                    <td>{{noSocio.nombre}}</td>
                    <td>{{noSocio.apellidos}}</td>
                    <td>
                        <i width="25px" style="margin-right:15px" (click)="getNoSocio(noSocio.id)" class="pi pi-eye"></i>
                        <i width="25px" (click)="deleteNoSocio(noSocio.id)" class="pi pi-trash"></i>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <div class="contenedor-flex">
           <div class="contenedor-flex-small"> 
                <h4>id:</h4>
                <p><input type="text"  class="noSocio" [(ngModel)]="noSocio.id" value="{{noSocio.id}}" disabled></p>
            </div>
            <div class="contenedor-flex-small">
                <h4>Nombre:</h4>
                <p><input type="text"  class="noSocio" [(ngModel)]="noSocio.nombre" value="{{noSocio.nombre}}"></p>
            </div>
            <div class="contenedor-flex-small">
                <h4>Apellidos:</h4>
                <p><input type="text"  class="noSocio" [(ngModel)]="noSocio.apellidos" value="{{noSocio.apellidos}}"></p>
            </div>
        </div>
        <div class="contenedor-flex">
            <div class="contenedor-flex-small">
                <h4>Correo:</h4>
                <p><input type="text"  class="noSocio" [(ngModel)]="noSocio.email" value="{{noSocio.email}}"></p>
            </div>
            <div class="contenedor-flex-button">
                <input type="submit" (click)="updateNoSocio()" value="Guardar cambios">
            </div>
        </div>
    </div>
</section>

