.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
   
  }
  
  .card {
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
  }
  
  .card h1 {
    text-align: center;
    color: #333;
    margin-bottom: 90px;
    margin-top: 20px;
  }
  
  .card label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #666;
  }
  
  .card input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .p-button-success {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .p-button-success:hover {
    background-color: #218838;
  }