.container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    gap: 5px;
}

.editor-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.comments-container {
    flex: 1;
    margin: 5px;
}

.editor-container .editor {
    width: 80%;
}

.comments-container .comments {
    width: 60%;
    gap: 20px;
}

h1 {
    text-align: center;
}

#image{
    max-width: 300px;
    border-radius: 15px;
}