<section id="crearEntrenamiento">
    <h2>Crear Entrenamiento</h2>
   
    <label for="nombre">Nombre del Entrenamiento</label>
    <input [(ngModel)]="entrenamiento.nombre" name="nombre" type="text" required>
    <br>
    <label for="descripcion">Descripcion del Entrenamiento</label>
    <textarea [(ngModel)]="entrenamiento.descripcion" name="descripcion" required></textarea>

    <h4>Ejercicios del Entrenamiento</h4>

    <div *ngFor="let ejercicio of entrenamiento.ejercicios; let i = index">
        <label for="ejercicioDescripcion{{i}}">Descripción del ejercicio {{ i +   1 }}</label>
        <input [(ngModel)]="ejercicio.descripcion" name="ejercicioDescripcion{{i}}" type="text" required>
        <label for="ejercicioIdTipo{{i}}">Tipo de ejercicio {{ i +   1 }}</label>
        <select [(ngModel)]="ejercicio.idTipo" name="ejercicioIdTipo{{i}}" required>
            <option *ngFor="let tipo of tiposEjercicios" [value]="tipo.id">{{ tipo.nombre }}</option>
        </select>
    </div>

    <button (click)="agregarEjercicio()">Añadir Ejercicio</button>

    <button (click)="insertEntrenamiento()">Crear Entrenamiento</button>
</section>