.error-container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error-container h1 {
    font-size: 100px;
    color: #333;
}

.error-container p {
    font-size: 20px;
    color: #666;
}

.back-home {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.back-home:hover {
    background-color: #0056b3;
}

a{
    cursor: pointer;
}