<div class="form-container">
    <div>
        <p-toast></p-toast>


        <div class="card flex justify-content-center">
            <p-toast></p-toast>
            
        </div>
    </div>

    <label for="">Roles</label>
    <p-multiSelect [options]="arrRoles!" [(ngModel)]="this.user!.roles" optionLabel="name"></p-multiSelect>


    @for(rol of this.user!.roles; track rol.id){
        @if(rol.id == rolTutor){
            <label for="">Socios a cargo</label>
            <p-multiSelect [options]="arrAllSocios" [filter]="true"  [(ngModel)]="arrAsignedSocios" optionLabel="email"  placeholder="Seleccionar socios"></p-multiSelect>
        }
    }
    
    <label for="name">Nombre</label>
    <input type="text" id="name" pInputText required [(ngModel)]="user!.firstName">

    <label for="lastName">Apellidos</label>
    <input type="text" id="lastName" pInputText required  [(ngModel)]="user!.lastName">
    
    <label for="email">email</label>
    <input type="email" id="email" required pInputText  [(ngModel)]="user!.email">
    
    <label for="idSocio">Número de socio</label>
    <input type="number" id="idSocio"  pInputText  [(ngModel)]="user!.idSocio">
   
    <label for="">Dirección</label>
    <input type="number" id="idSocio" required pInputText [(ngModel)]="user!.domicilio">

    <label for="">Teléfono</label>
    <input type="number" id="idSocio" required pInputText  [(ngModel)]="user!.tlf">

    <p-button label="Foto de perfil">
        <input type="file" (click)="signup()" severity="success">  
    </p-button>
    
    <p-button label="Crear usuario" (click)="signup()" severity="success"></p-button>
</div>