.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:  100%;
}
  
  label, input {
    display: block;
    width:  50%; 
    box-sizing: border-box;
    margin-bottom:  10px;
  }
