.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

label,
input {
  display: block;
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#imageProfile {
  max-height: 200px;
  max-width: 150px;
  border-radius: 50%;
  object-fit: cover;
  aspect-ratio: 1;
  box-shadow: 7px 9px 25px -16px rgba(0, 0, 0, 1);
}
