<div class="form-container">
    <div>
        <p-toast></p-toast>
        <p-button label="Foto de perfil">
            <input type="file" (click)="signup()" severity="success">  
        </p-button>

        <div class="card flex justify-content-center">
            <p-toast></p-toast>
            
        </div>
    </div>
    <label for="name">Nombre</label>
    <input type="text" id="name" pInputText required [(ngModel)]="user.firstName">
    <label for="lastName">Apellidos</label>
    <input type="text" id="lastName" pInputText required autocomplete [(ngModel)]="user.lastName">
    
    <label for="email">email</label>
    <input type="email" id="email" required pInputText autocomplete [(ngModel)]="user.email">
    
    <label for="idSocio">Número de socio</label>
    <input type="number" id="idSocio" required pInputText autocomplete [(ngModel)]="user.idSocio">
    
    <label for="pass">password</label>
    <input type="password" id="pass" required pInputText autocomplete [(ngModel)]="user.password">
    <p-button label="Crear usuario" (click)="signup()" severity="success"></p-button>
    
</div>