<div class="container">
    <div class="image">
        <img src="{{image}}" id="imageProfile" alt="foto de perfil">
    </div>

    <div class="form">
        <label for="">Activo</label>
        <p-inputSwitch [(ngModel)]="this.user!.active"></p-inputSwitch>
        
        <label for="">Roles</label>
        <p-multiSelect [options]="arrRoles!" [(ngModel)]="this.user!.roles" optionLabel="name"></p-multiSelect>


        @for(rol of this.user!.roles; track rol.id){
            @if(rol.id == rolTutor){
                <label for="">Socios a cargo</label>
                <p-multiSelect [options]="arrAllSocios" [filter]="true"  [(ngModel)]="arrAsignedSocios" optionLabel="email"  placeholder="Seleccionar socios"></p-multiSelect>
            }
        }

        <label for="">Nombre</label>
        <input type="text" pInputText [(ngModel)]="user!.firstName" />
        <label for="">Apellidos</label>
        <input type="text" pInputText [(ngModel)]="user!.lastName" />
        <label for="">Correo</label>
        <input type="text" pInputText [(ngModel)]="user!.email" />
        
        <label for="">Telefono</label>
        <input type="text" pInputText [(ngModel)]="user!.tlf" />
        
        <label for="">Domicilio</label>
        <input type="text" pInputText [(ngModel)]="user!.domicilio" />
        
        <input type="checkbox" name="corriente pago" [checked]="user!.corriente_pago!">
        <label for="" id="pago" >corriente de pago</label>
    </div>
    <p-button id="btnPass" label="Generar nueva contraseña" severity="warning"></p-button>
    <p-button label="Actualizar" severity="success" (click)="updateUser()"></p-button>
</div>