<!-- // Gonzalo Martinez Haro-->
<div class="container">

  <div class="header">
      <h1>{{evento.nombre}}</h1>
      @if(alert.show){
          <app-alert header="{{alert.header}}" message="{{alert.message}}" type={{alert.type}}></app-alert>
        }
  </div>

  <div class="content">
      <div class="form-datos">
          <div class="field">
              <label>Fecha:</label>
              <p>{{evento.fecha}}</p>
          </div>
          <div class="field">
              <label>Sede:</label>
              <p>{{evento.sede}}</p>
          </div>
          <div class="field">
              <label>Categoría:</label>
              <p>{{evento.categoria?.nombre}}</p>
          </div>
          <div class="field">
              <label>Acceso:</label>
              <p>{{evento.privado ? 'Privado' : 'Público'}}</p>
          </div>
          <div class="field-desc">
              <label>Descripción:</label>
              <p class="descripcion">{{evento.desc}}</p>
          </div>
          <div class="field-button">
              <p-button label="Inscribirme" (click)="comprobarSocio()" severity="success"></p-button>
          </div>
      </div>
  </div>
  @if(evento.pdf != null){
  <div class="field">
    <label>Resultados:</label>
    </div>
  <ngx-extended-pdf-viewer [src]="resultado.pdf" height="700px" [showToolbar]="false" [textLayer]="true"></ngx-extended-pdf-viewer>
    }
</div>

