<h1>{{evento.nombre}}</h1>
@if(alert.show){
    <app-alert header="{{alert.header}}" message="{{alert.message}}" type={{alert.type}} ></app-alert>
}
<div>
  <p>Fecha: {{evento.fecha}}</p>
  <p>Sede: {{evento.sede}}</p>
  <p>Categoria: {{evento.categoria}}</p>
  <p>"descripcion"</p>
  <p>"privado o no"</p>
  <p>"resultados"</p>
  <button (click)="comprobarPrivado()">Inscribirme</button>
</div>
<pdf-viewer [src]="'assets/archivo.pdf'" [render-text]="true" [original-size]="false" style="width: 100%; height: 100vh"></pdf-viewer>


