.card {
    display: inline-block;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 360px;
    cursor: pointer;
}

.card p-card {
    border-radius: 5px;
    overflow: hidden;
}

.card p-card .m-0 {
    margin: 0;
    padding: 10px;
    text-align: justify;
}

.card p-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0; 
}