
<p-toast></p-toast>

<h1 >Edición Club</h1>

<section id="editorClub">
  <label for="editTitle">Título </label>
  <input type="text" id="editTitle" pInputText [(ngModel)]="title" />
</section>
<h3>Historia del club </h3>

<section id="editorClub">
<p-editor [(ngModel)]="text" [style]="{'height':'80vh'}">
  <p-header>
    <span class="ql-formats">
      <select class="ql-size">
        <option value="small">Petit</option>
        <option selected></option>
        <option value="large">Sous-titre</option>
        <option value="huge">Titre</option>
      </select>
    </span>
    <span class="ql-formats">
      <button class="ql-bold" aria-label="Bold"></button>
      <button class="ql-italic" aria-label="Italic"></button>
      <button class="ql-underline" aria-label="Underline"></button>
      <button class="ql-strike" aria-label="Strike"></button>
    </span>
    <span class="ql-formats">
      <select title="Text Color" class="ql-color" defaultValue="rgb(0, 0, 0)">
         <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
         <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
         <option value="rgb(255, 0, 0)" label="rgb(255, 0, 0)"></option>
         <option value="rgb(0, 255, 0)" label="rgb(0, 255, 0)"></option>
         <option value="rgb(0, 0, 255)" label="rgb(0, 0, 255)"></option>
         <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
         <option value="rgb(255, 0, 255)" label="rgb(255, 0, 255)"></option>
         <option value="rgb(0, 255, 255)" label="rgb(0, 255, 255)"></option>
      </select>
      <span class="ql-format-separator"></span>
      <select title="Background Color" class="ql-background" defaultValue="rgb(255, 255, 255)">
         <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
         <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
         <option value="rgb(255, 0, 0)" label="rgb(255, 0, 0)"></option>
         <option value="rgb(0, 255, 0)" label="rgb(0, 255, 0)"></option>
         <option value="rgb(0, 0, 255)" label="rgb(0, 0, 255)"></option>
         <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
         <option value="rgb(255, 0, 255)" label="rgb(255, 0, 255)"></option>
         <option value="rgb(0, 255, 255)" label="rgb(0, 255, 255)"></option>
      </select>
     </span>     
    <span class="ql-formats">
      <span class="ql-formats">
        <button type="button" class="ql-list" aria-label="List" value='ordered'></button>
        <button type="button" class="ql-list" aria-label="Bullet" value='bullet'></button>
       </span>
      <select title="Text Alignment" class="ql-align" >
        <option selected>Gauche</option>
        <option value="center" label="Center"></option>
        <option value="right" label="Right"></option>
        <option value="justify" label="Justify"></option>
      </select>    
      <span class="ql-formats">
          <button type="button" 
          class="ql-clean" 
          aria-label="clean"> 
      </button> 
    </span>        
</span>
<span class="ql-table"></span>
</p-header>
</p-editor>

</section>
<h3>Editar estructura organizativa</h3>
<section id="structure">
  <p-editor [(ngModel)]="textStructure" [style]="{'height':'80vh'}">
    <p-header>
      <span class="ql-formats">
        <select class="ql-size">
          <option value="small">Petit</option>
          <option selected></option>
          <option value="large">Sous-titre</option>
          <option value="huge">Titre</option>
        </select>
      </span>
      <span class="ql-formats">
        <button class="ql-bold" aria-label="Bold"></button>
        <button class="ql-italic" aria-label="Italic"></button>
        <button class="ql-underline" aria-label="Underline"></button>
        <button class="ql-strike" aria-label="Strike"></button>
      </span>
      <span class="ql-formats">
        <select title="Text Color" class="ql-color" defaultValue="rgb(0, 0, 0)">
           <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
           <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
           <option value="rgb(255, 0, 0)" label="rgb(255, 0, 0)"></option>
           <option value="rgb(0, 255, 0)" label="rgb(0, 255, 0)"></option>
           <option value="rgb(0, 0, 255)" label="rgb(0, 0, 255)"></option>
           <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
           <option value="rgb(255, 0, 255)" label="rgb(255, 0, 255)"></option>
           <option value="rgb(0, 255, 255)" label="rgb(0, 255, 255)"></option>
        </select>
        <span class="ql-format-separator"></span>
        <select title="Background Color" class="ql-background" defaultValue="rgb(255, 255, 255)">
           <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
           <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
           <option value="rgb(255, 0, 0)" label="rgb(255, 0, 0)"></option>
           <option value="rgb(0, 255, 0)" label="rgb(0, 255, 0)"></option>
           <option value="rgb(0, 0, 255)" label="rgb(0, 0, 255)"></option>
           <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
           <option value="rgb(255, 0, 255)" label="rgb(255, 0, 255)"></option>
           <option value="rgb(0, 255, 255)" label="rgb(0, 255, 255)"></option>
        </select>
       </span>     
      <span class="ql-formats">
        <span class="ql-formats">
          <button type="button" class="ql-list" aria-label="List" value='ordered'></button>
          <button type="button" class="ql-list" aria-label="Bullet" value='bullet'></button>
         </span>
        <select title="Text Alignment" class="ql-align" >
          <option selected>Gauche</option>
          <option value="center" label="Center"></option>
          <option value="right" label="Right"></option>
          <option value="justify" label="Justify"></option>
        </select>    
        <span class="ql-formats">
            <button type="button" 
            class="ql-clean" 
            aria-label="clean"> 
        </button> 
      </span>        
  </span>
  <span class="ql-table"></span>
  </p-header>
  </p-editor>
  
</section>

@if(fotos != null && fotos.length >= 1){

  <section id="tableFotos">
    <p-table [value]="fotos!" [tableStyle]="{ 'min-width': '10rem', 'max-width' : '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Foto</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-foto>
        <tr>
          <td class="container">
            <p-image [styleClass]="'image'" src="{{ foto.image }}" alt="fotos disponibles"   width="250" [preview]="true"></p-image>
              <app-dialog  [severity]="'danger'" id="btnUpdate" [nameBtn]="'Eliminar'" [header]="'Alerta'" [message]="' Va a eliminar esta imagen. ¿Estás seguro de que quiere realizar esta acción? '" (eventEmiter)="deleteImage($event, foto.ruta, foto.id)"></app-dialog>
            
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>
}@else {
  <h4 id="tableFotos">{{noText}}</h4>
}

<div id="tableFotos" class="card flex justify-content-center">
  <p-toast></p-toast>
  <p-fileUpload name="" [chooseLabel]="'Selecionar imagenes'" [uploadLabel]="'Subir'"  [cancelLabel]="'Cancelar'"  [customUpload]="true" (uploadHandler)="onUpload($event)" [multiple]="true" accept="image/*">
  </p-fileUpload>
</div>

<app-dialog id="btnUpdate" [nameBtn]="'Actualizar'" [header]="'Alerta'" [message]="' ¿Estás seguro de que quiere realizar esta acción? Va a editar esta página'" (eventEmiter)="update($event)"></app-dialog>
