.eventos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 0 auto 20px;
  max-width: calc(100% - 40px); 
  padding: 0 20px; 
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 300px;
}

.card-div {
  position: relative;
  max-width: 80%;
  min-width: 10%;
  color-scheme: light dark !important;
  margin-left: 150px;
}

.card-header {
  background-color: #243e59;
  color: white;
  padding: 10px;
}

.card-body {
  padding: 10px;
}

i{
  margin-left: 270px;
  margin-bottom: 10px;
}

h1 {
  margin:20px;
  font-size: 1.5rem;
  color: #243e59;
  text-align: center;
}
