<div class="container">
    <div class="image">
        <img src="{{image}}" id="imageProfile" alt="foto de perfil">
        <div style="margin: 10px;">
        <p-fileUpload [customUpload]="true" mode="basic" chooseLabel="Actualizar imagen" name="demo[]" [auto]="true"  accept="image/*" (uploadHandler)="uploadFile($event)"></p-fileUpload>
        </div>
    </div>
    <p-toast></p-toast>
    <div class="form">
        <label for="">Activo</label>
        <p-inputSwitch [(ngModel)]="this.user!.active"></p-inputSwitch>

        <label for="">Alergias</label>
        <p-multiSelect [options]="arrAlergias!" [(ngModel)]="arrAlergiasUser" optionLabel="name"
            placeholder="Seleccionar alergias"></p-multiSelect>

        <br>

        <label for="">Si no encuentra la alergia, puede agregar a la lista una nueva</label>
        <p-button id="btnPass" label="Agregar alergia" severity="help" (click)="showAlergia=true"></p-button>

        @if(showAlergia){
            
            <input type="text" pInputText [(ngModel)]="newAlergia" />
            <p-button id="btnPass" label="Guardar" severity="success"></p-button>
            <p-button id="btnPass" label="Cancelar" severity="danger"></p-button>

        }
        <label for="">Roles</label>
        <p-multiSelect [options]="arrRoles!" [(ngModel)]="this.user!.roles" optionLabel="name"></p-multiSelect>


        @for(rol of this.user!.roles; track rol.id){
        @if(rol.id == rolTutor){
        <label for="">Socios a cargo</label>
        <p-multiSelect [options]="arrAllSocios" [filter]="true" [(ngModel)]="arrAsignedSocios" optionLabel="email"
            placeholder="Seleccionar socios"></p-multiSelect>
        }
        }

        <label for="">Nombre</label>
        <input type="text" pInputText [(ngModel)]="user!.firstName" />
        <label for="">Apellidos</label>
        <input type="text" pInputText [(ngModel)]="user!.lastName" />
        <label for="">Correo</label>
        <input type="text" pInputText [(ngModel)]="user!.email" />

        <label for="">Telefono</label>
        <input type="text" pInputText [(ngModel)]="user!.tlf" />

        <label for="">Domicilio</label>
        <input type="text" pInputText [(ngModel)]="user!.domicilio" />


        <input type="checkbox" name="corriente pago" [checked]="user!.corriente_pago!">
        <label for="" id="pago">corriente de pago</label>
    </div>
    <p-button id="btnPass" label="Generar nueva contraseña" severity="warning" (click)="resetPass()"></p-button>
    <p-button label="Actualizar" severity="success" (click)="updateUser()"></p-button>
</div>