.insertEntrenamiento {
    background-color: #22c55e;
    padding: 20px;
    border-radius: 5px;
    border: none;
    font-family: 'Inter var'; 
    font-size: 16px;
    line-height: 1.5; 
    color: white;
    font-weight: bold;
}

#title{
    z-index: 50;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}