
<h2>Entrenamientos</h2>

<button>Crear un Nuevo Entrenamiento</button>
<table>
    <thead>
        <th>Entrenamiento</th>
        <th>Descripción</th>
    </thead>
    <tbody>
        @for (entrenamiento of arrEntrenamientos; track entrenamiento.nombre){
            <tr>
                <td>{{entrenamiento.nombre}}</td>
                <td>{{entrenamiento.descripcion}}</td>
                <td>
                    <button (click)="updateEntrenamiento()">Modificar Entrenamiento</button>
                    <br>
                    <button>Eliminar Entrenamiento</button>
                </td>
            </tr>
        }
    </tbody>
</table>
