body {
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    font-size:  28px;
    color: #333;
    margin-bottom:  15px;
    font-weight: bold;
}

label {
    display: block;
    font-size:  14px;
    color: #666;
    margin-bottom:  10px;
    font-weight:  500;
}

div {
    font-size:  16px;
    line-height:  1.6;
    color: #333;
    margin-bottom:  20px;
}

img {
    max-width:  300px;
    object-fit: cover;
    aspect-ratio:  1;
    height: auto;
    margin-bottom:  20px;
    border-radius:  5px;
    box-shadow:  0  4px  6px rgba(0,  0,  0,  0.1);
    display: block;
    margin: auto;
}

.news-container {
    max-width:  800px;
    margin:  0 auto;
    padding:  20px;
    background-color: #fff;
    box-shadow:  0  4px  6px rgba(0,  0,  0,  0.1);
    border-radius:  5px;
}

.news-title {
    text-align: center;
    margin-bottom:  20px;
}

.news-author {
    text-align: right;
    margin-bottom:  10px;
}

.news-body {
    text-align: justify;
}

.news-image {
    width:  100%;
    height: auto;
    margin-bottom:  20px;
    border-radius:  5px;
    box-shadow:  0  4px  6px rgba(0,  0,  0,  0.1);
}
