<h1>Categorias de las clases</h1>
<section>
  <div>
    <table>
      <thead>
        <th>ID</th>
        <th>Categoria</th>
        <th>Acciones</th>
      </thead>
      <tbody>
        @for (att of arrClases; track att.id) {
        <tr>
          <td>
            <label>{{ att.id }}</label>
          </td>
          <td>
            <label>{{ att.categoria }}</label>
          </td>
          <td>
            <button
              pButton
              type="button"
              class="pi pi-pencil"
              (click)="edit(att)"
            ></button>
            <button
              pButton
              type="button"
              class="pi pi-trash"
              (click)="deleteClase(att.id)"
            ></button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <div class="row">
      <input
        type="hidden"
        [(ngModel)]="clase.id"
        name="txtid"
        id="txtid"
        disabled
      />
      <output>Categoria</output>
      <input
        type="text"
        [(ngModel)]="clase.categoria"
        name="txtcategoria"
        id="txtcategoria"
      />
      <div>
        <button (click)="actualizar()">Actualizar Datos</button>
        <button (click)="agregarClase()">Agregar Categoria</button>
      </div>
    </div>
  </div>
</section>
