<h1>Gestión de usuarios</h1>
<section>
  <div>
    <table>
      <thead>
        <th>ID</th>
        <th>Categoria</th>
        <th>Acciones</th>
      </thead>
      <tbody>
        @for (att of arrClases; track att.id) {
          <tr>
            <td><label>{{att.id}}</label></td>
            <td><label>{{att.categoria}}</label></td>
            <td>
              <button pButton type="button" icon="pi pi-pencil" >Modifica</button>
              <button pButton type="button" icon="pi pi-trash" (click)="deleteClase(att.id)">Eliminar</button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
