<section>
    <div class="user-row">
        @for(user of arrUsers; track user.id){
            <div class="user-container">
                @if(image){
                    <img src="{{image}}" alt="">
                }
                <label for="">Nombre</label>
                <span>{{user.firstName}}</span>
                <label for="">Apellidos</label>
                <span>{{user.lastName}}</span>
                <label for="">Email</label>
                <span>{{user.email}}</span>
            </div>
        }
    </div>
</section>