PORT=1234

DB_HOST="localhost"
DB_USER="root"
DB_PASSWORD=""

DB_DEV="node_crud_todo"
DB_PROD="node_crud_todo"
DB_TEST="node_crud_todo"

DB_DIALECT="mysql"
DB_HOST="localhost"
DB_PORT=3306
DB_MAXCONNECTIONS=5

SECRETORPRIVATEKEY=eST0EsmiPiblic@key