PORT=9292
WEBSOCKETPORT="8090"

DB_HOST="localhost"
DB_USER="root"
DB_PASSWORD=""

DB_DEV="piscina"
DB_PROD="piscina"
DB_TEST="piscina"

#IDs for rols

ID_ROL_ADMIN=1
ID_ROL_TUTOR=2
ID_ROL_SOCIO=3
ID_ROL_TRAINER=4

# mongo
DB_MONGO_DATABASE="piscina"
DB_MONGO_URL="localhost"
DB_MONGO_PORT=27017

# tables for mongo
MONGO_TABLE_CLUB="club"
MONGO_TABLE_DIRECTIVA="directiva"

DB_DIALECT="mysql"
DB_HOST="localhost"
DB_PORT=3306
DB_MAXCONNECTIONS=5

SECRETORPRIVATEKEY=eST0EsmiPiblic@key