<h1>Gestión de usuarios</h1>
<section>
    <label for="search">Buscar por</label>
    <select (change)="search($event)">
        <option id="searchEmail" selected>email</option>
        <option id="searchSocio">Número de socio</option>
    </select>
    <input type="search" alt="Bu    scador de usuarios" [(ngModel)]="searchValue" (input)="search($event)" id="search">
</section>
<section id="sectionUser">
    <button id="btnAdd">Agregar nuevo usuario</button>
</section>
@if(alert.show){
    <app-alert header="{{alert.header}}" message="{{alert.message}}" type="danger" ></app-alert>
}
<section>
    <div>
        <table>
            <thead>
                <th>Número de socio</th>
                <th>email</th>
            </thead>
            <tbody>
                @for (user of arrUsers; track user.id) {
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <i width="25px" style="margin-right:15px" (click)="showUser(user.id)" class="pi pi-eye"></i>
                        <i width="25px" (click)="showUser(user.id)" class="pi pi-trash"></i>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <table>
            <thead>
                <th>Número de socio</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>email</th>
            </thead>
            <tbody>
                @for (att of [user]; track user.id) {
                <tr>
                    <td><input type="text"  class="user" [(ngModel)]="user.id" value="{{att.id}}"></td>
                    <td><input type="text"  class="user" [(ngModel)]="user.firstName" value="{{att.firstName}}"></td>
                    <td><input type="text"  class="user" [(ngModel)]="user.lastName" value="{{att.lastName}}"></td>
                    <td><input type="text"  class="user" [(ngModel)]="user.email" value="{{att.email}}"></td>
                </tr>
            }
            <br>
            <input id="tutor" type="checkbox">
            <label for="tutor">Tutor</label>
            <br>
            <input id="socio" type="checkbox">
            <label for="socio">Socio</label>
            <br>
            <input id="entrenador" type="checkbox">
            <label for="entrenador">Entrenador</label>
            <br>
            <input id="Administrativo" type="checkbox">
            <label for="Administrativo">Administrativo</label>
            <input type="submit" value="Guardar cambios" (click)="updateUser()">
            </tbody>
        </table>
    </div>
</section>