<section id="landing">
    @for(club of arrClub; track club._id){

        @if(club.tag=='history'){

            <h1>{{club?.title}}</h1>
            
            <div [innerHtml]="club?.history">

            </div>
            
        }

        @if(club.tag=='structure'){
            <section id="structure">
                <h3>Estructura organizativa:</h3>
                @for(objEstructura of club?.estructura; track objEstructura){
                    @for(estructura of [objEstructura]; track estructura){
                        <li> {{estructura.puesto}}: {{estructura.nombre}}</li>
                    }
                }
            </section>
        }

        @if(club.tag=='galeria'){
            <div class="galeria">
                @for(image of images; track image){
                <div class="foto-actual">
                        <img src="{{image.image}}" alt="" srcset="">
                    </div>
                }
            </div>
  
        }
    }
</section>