#landing{
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    margin-top: 50px;
    max-width: 50%;

}

h1{
    font-size: 50px;
}

#structure{
    margin-bottom: 50px;
}

.galeria {
    position: relative;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}