i {
    cursor: pointer;
  }
  
  app-modal {
    margin: 20px;
    margin-right: 150px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  :host ::ng-deep .p-progressbar {
    height: 0.5rem;
    background-color: #d8dadc;
  }
  :host ::ng-deep .p-progressbar .p-progressbar-value {
    background-color: #607d8b;
  }
  
  
  
  .card {
    position: relative;
    max-width: 80%;
    min-width: 10%;
    color-scheme: light dark !important;
    margin-left: 150px;
  }
  
  #title{
    text-align: center;
    font-size: 2rem;
  }
  
  .test {
    border-radius: 20%;
  }
  
  #btnGestCategorias{

    margin-left: 25px;

  }

  #btnGestCategorias{

    margin-left: 25px;

  }


  
  
  
  
  