<div class="container">
    <p-toast></p-toast>
    <div class="image">
        <img src="{{image}}" id="imageProfile" alt="foto de perfil">
        <div style="margin: 10px;">
            <p-fileUpload [customUpload]="true" mode="basic" chooseLabel="Actualizar imagen" name="demo[]" [auto]="true"  accept="image/*" (uploadHandler)="uploadFile($event)"></p-fileUpload>
        </div>
    </div>

    <div class="form">

        <label for="">Nombre</label>
        <input type="text" pInputText [(ngModel)]="user!.firstName" />
        <label for="">Apellidos</label>
        <input type="text" pInputText [(ngModel)]="user!.lastName" />
        <label for="">Correo</label>
        <input type="text" pInputText [(ngModel)]="user!.email" />
        
        <label for="">Telefono</label>
        <input type="text" pInputText [(ngModel)]="user!.tlf" />
        
        <label for="">Domicilio</label>
        <input type="text" pInputText [(ngModel)]="user!.domicilio" />

        <label for="">Contraseña</label>
        <input type="password" pInputText [(ngModel)]="user!.password" />
        
        <label for="pago" >corriente de pago</label>
        <input type="checkbox" id="pago" name="corriente pago" disabled [checked]="user!.corriente_pago!">
    </div>

    <p-button label="Actualizar" severity="success" (click)="updateUser()"></p-button> 
</div>