<form>
  <label for="nombre">Nombre</label>
  <input [(ngModel)]="entrenamiento.nombre" name="nombre" type="text">
<br>
  <label for="descripcion">Descripción</label>
  <textarea [(ngModel)]="entrenamiento.descripcion" name="descripcion"></textarea>

  <h3>Ejercicios del Entrenamiento</h3>
  <div *ngFor="let ejercicioEntrenamiento of entrenamiento.EjercicioEntrenamientos; let i = index">
    <label for="ejercicioDescripcion{{i}}">Descripción del ejercicio {{ i +  1 }}</label>
    <input [(ngModel)]="ejercicioEntrenamiento.Ejercicio.descripcion" name="ejercicioDescripcion{{i}}" type="text">
  </div>
  <button (click)="updateEntrenamiento()">Modificar Entrenamiento</button>
</form>