@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";



@layer reset, primeng;

@layer reset {
    button,
    input {
        
    }
}

.danger {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    border-radius: 15px;
}

.success {
    padding: 20px;
    background-color: #08b208;
    color: white;
    margin-bottom: 15px;
    border-radius: 15px;

}

strong{
    font-size: 20px;
}

nav {
    background-color: cadetblue;
    border-radius: 15px;
    box-shadow:  0px  2px  4px rgba(0,  0,  0,  0.1);
    padding:  10px  20px;
    margin:  0 auto;
    max-width:  1024px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    margin:  0;
    padding:  0;
    display: flex;
}

nav li {
    margin-right:  20px;
}

nav li a {
    text-decoration: none;
    color: #000;
    font-size:  16px;
    line-height:  40px;
    transition: color  0.3s ease;
}

nav li a:hover {
    color: #007bff;
}

@media (max-width:  768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    nav li {
        margin-bottom:  10px;
        margin-right:  0;
    }
}
