<h1>Crear nueva clase</h1>
<div class="form-container">
    <div class="form-group">
      <output>Categoria</output>
      <p-dropdown [options]="arrCategorias" [(ngModel)]="categoriaSelecionada" optionLabel="nombre" [showClear]="true" placeholder="Selecciona una categoría"></p-dropdown>
    </div>
    <div class="form-group">
      <output>Nombre</output>
      <p-dropdown [options]="diasSemana" [(ngModel)]="dia" optionLabel="label" [showClear]="true" placeholder="Selecciona un día de la semana"></p-dropdown>
    </div>
    <div class="form-group">
      <output>Hora inicio</output>
      <input type="time" [(ngModel)]="horaInicio" id="txtHoraInicio" />  
    </div>
    <div class="form-group">
      <output>Hora fin</output>
      <input type="time" [(ngModel)]="horaFin" id="txtHoraFin"/>

    </div>
    <p-button (click)="agregarClase()" routerLink="/clases">Crear clase</p-button>
</div>
