<section id="getUser">
    <div class="card">
        <h1 id="title" class="m-0">Gestión de usuarios</h1>
        <p-toast></p-toast>

        <div id="addUser" >
            <p-toolbar styleClass="mb-4 gap-2" >
                <ng-template pTemplate="right">
                    <app-modal-signup></app-modal-signup>
                </ng-template>
            </p-toolbar>
        </div>
 
        <p-table
        id="table"
        #dt
        [value]="arrUsers"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['firstName', 'lastName', 'email']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [(selection)]="selectUsers"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input [(ngModel)]="searchValue" pInputText type="text" (input)="dt.filterGlobal(searchValue, 'contains')" placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>
        
        <ng-template pTemplate="header">
            <tr>
                <th>Foto de perfil</th>
                <th pSortableColumn="firstName" style="min-width:10rem">Nombre <p-sortIcon field="firstName"></p-sortIcon></th>
                <th pSortableColumn="lastName">Apellidos <p-sortIcon field="lastName"></p-sortIcon></th>
                <th pSortableColumn="email" style="min-width:10rem">email <p-sortIcon field="email"></p-sortIcon></th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        
        <ng-template pTemplate="body" let-user>
            <tr>
                <td> 
                @for(image of arrPhotoProfile; track image.id){
                    @if(image.id == user.image.ruta){
                        <img src="{{image.image}}" id="imageProfile" width="50px"  alt="" srcset=""> 
                    }
                    }
                </td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName}}</td>
                <td>{{ user.email }}</td>
                <td>
                    <button pButton pRipple id="btnMargin" icon="pi pi-pencil" class="p-button-rounded p-button-success m-2" (click)="openDialog(user.id)"></button> 
                    <app-dialog  [icon]="'pi pi-trash'" [severity]="'danger'" [header]="'Alerta'" [message]="'¿Estás seguro de que quiere realizar esta acción? Va a eliminar un usuario'" (eventEmiter)="deleteUser($event,user.id)"></app-dialog>
                    </td>
            </tr>
        </ng-template>
            
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">En total hay {{ arrUsers ? arrUsers.length : 0 }} Usuarios.</div>
        </ng-template>
    </p-table>
</div>

</section>


<div class="card flex justify-content-center">
    <p-toast></p-toast>
</div>