.danger {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    border-radius: 15px;
}

.success {
    padding: 20px;
    background-color: #08b208;
    color: white;
    margin-bottom: 15px;
    border-radius: 15px;

}

strong{
    font-size: 20px;
}