
h1{
    text-align: center;
}

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 10vh;
}

.login-container label {
    font-size: 1.2rem;
    display: block;
    margin-bottom: 5px;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    font-size: 1rem;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container input[type="button"] {
    font-size: 1.2rem;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.login-container input[type="button"]:hover {
    background-color: #0056b3;
}

#background{
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 10px;
    position: absolute;
    width:  99%;
    height:  90vh;
    background-image: url('../../../../assets/background/c.png');
    background-size: cover;
    background-position: center;
}