<!--// Gonzalo Martinez Haro-->
<div class="form-container">
  <div>
      

      <div class="card flex justify-content-center">
          
          
         
          @if(!visible){
              <h4>¿Eres Socio?</h4>
              <div class="buttons-container">
                  <p-button label="SI" (click)="redireccionarLogin()" class="p-button-success"></p-button>
                  <p-button label="NO" (click)="mostrarFormulario()" class="p-button-secondary"></p-button>
              </div>
          
          
        }@else{
              <h4>Introduce tus Datos</h4>
              
              <form>
                  <label for="nombreNoSocio">Nombre</label>
                  <input type="text" id="nombreNoSocio" pInputText required [(ngModel)]="noSocio.nombre" name="nombreNoSocio">

                  <label for="apellidosNoSocio">Apellidos</label>
                  <input type="text" id="apellidosNoSocio" pInputText required [(ngModel)]="noSocio.apellidos" name="apellidosNoSocio">
                  
                  <label for="emailNoSocio">Email</label>
                  <input type="email" id="emailNoSocio" pInputText required [(ngModel)]="noSocio.email" name="emailNoSocio">
                  
                  <p-button label="Inscribir" (click)="insertNoSocio()" severity="success"></p-button>
              </form>
            }
          
      </div>
  </div>
</div>






