.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

label,
input {
  display: block;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.form {
  flex: 1;
  padding-right: 20px;
}
